@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

html {
    font-family: 'Gelasio', serif;
}

body {
    margin: 0;
}

header {
    background-image: url(./Requirements-and-Resources/images/map.jpg);
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header-nav-logo {
    width: 5%;
}

.header-nav-logo img {
    width: 70%;
}

.header-nav-tabs ul {
    display: flex;
}

.header-nav-tabs ul li {
    list-style-type: none;
    color: white;
    padding: 5px 15px;
}

.header-content {
    color: white;
    text-align: center;
    padding-top: 70px;
}

.header-content h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.header-content button {
    background-color: #146594;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

main {
    background-color: #E1E1E1;
}

.main-section {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.main-section h2 {
    margin: 0 0 20px 0;
    color: #53595C;
}

.main-section-images {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: stretch;
}

.main-section-images p {
    margin: 0;
    position: absolute;
    color: white;
    font-size: 24px;
    text-shadow: #474747 3px 5px 2px;
}

.main-section-image-left {
    width: 40%;
    height: 40%;
    position: relative;
}

.main-section-image-left img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.main-section-image-right {
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-section-image-right img {
    width: 100%;
    height: 20%;
    object-fit: cover;
}

.pack {
    left: 80px;
    top: 50px;
}

.plan {
    left: 80px;
}

.budget {
    left: 10px;
    top: 480px
}