body {
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 15px;
}

header {
    border-bottom: 2px solid black;
}

.header-title {
    text-transform: uppercase;
    margin: 0;
    padding: 15px;
}

main {
    padding: 15px;
}