body {
   background: rgb(238, 238, 238);
   position: relative;
   width: 100vh;
}

img {
   width: 100%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.card {
   background: rgb(255, 255, 255);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   width: 400px;
   border-radius: 10px;
   box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.48);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(50%, 25%);
}

.card-title {
   padding: 15px;
   position: relative;
}

button {
   background: rgb(0, 153, 0);
   border: none;
   border-radius: 5px;
   padding: 10px 20px;
   color: white;
   position: relative;
   left: 270px
}

h1 {
   font: 1em/1.2 Georgia, serif;
}
