/* TODO: Add media queries */

@media all and (max-width: 600px) {
    .thumbnails {
        flex-direction: column;
    }

    .thumbnails div {
        width: 100%;
    }

    .thumbnails > div > :last-child {
        margin-bottom: 2em;
    }

    .thumbnails a img {
        height: 250px;
        object-fit: cover;
    }
}