@media all and (max-width: 1000px) {
    .pair, footer nav {
        flex-direction: column;
    }

    .planet {
        width: 100%;
        font-size: 1.1em;
    }

    .news {
        width: 100%;
        padding: 0;
    }
    .news ul li img {
        width: 100%;
        height: 50%;
    }

    h2 {
        font-size: 1.2em;
    }

    .primary footer nav a:nth-child(even) {
        border-left: none;
        border-right: none;
    }

}

@media all and (max-width: 850px) {
    .planet {
        width: 83%;
        font-size: 1.3em;
    }

    .news ul {
        flex-direction: column;
        align-items: center;
    }

    .news ul li {
        text-align: center;
    }

    .news ul li img {
        width: 55%;
    }

    h2 {
        font-size: 1.5em;
    }
}
